= simple_form_for(@comment, remote: true) do |f|
  = f.error_notification

  .form-inputs

    = f.input :body
    = f.association :post, as: :hidden
    %input{name: "device_inf[browser]", type: "hidden", id: "comment_device_inf_browser"}
    %input{name: "device_inf[os]", type: "hidden", id: "comment_device_inf_os"}

  .form-actions
    = f.button :submit , remote: true, id: :submit_comment
