= simple_form_for(@comment, remote: true) do |f|
  = f.error_notification

  .form-inputs

    = f.input :body

    = f.association :user,  as: :hidden
    = f.association :post, as: :hidden

  .form-actions
    = f.button :submit , remote: true, id: :submit_comment
