%p#notice= notice

%p
  %b Browser:
  = @device_inf.browser
%p
  %b Os:
  = @device_inf.os
%p
  %b Post:
  = @device_inf.post
%p
  %b Comment:
  = @device_inf.comment

= link_to 'Edit', edit_device_inf_path(@device_inf)
\|
= link_to 'Back', device_infs_path
