= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :body
    = f.association :user, as: :hidden
    %input{name: "post[media_url]", type: "hidden", id: "post_media_url"}

  #media-insert

  .form-actions
    = f.button :submit

