%p#notice= notice

%p
  %b Body:
  = @post.body
- if @post.medium 
  / Check application config for sanitize tags permited
  = sanitize @post.medium.link_url
%p
  %b User:
  = @post.user.username
  - if @post.device_inf
    %b Browser:
    = @post.device_inf.browser
    %b Os:
    = @post.device_inf.os
  %div#likes
    - if @already_liked
      = link_to "Don't like anymore", like_path(@like), method: :delete, remote: true
    - else 
      = render 'likes/form'
    %b likes:
    = @post.likes.count
%b Comments:
#comments
  = render 'comments/comments'
= render 'comments/form'


= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path

