%p#notice= notice

%p
  %b Body:
  = @post.body
- if @post.medium 
  / Check application config for saniteze tags permited
  = sanitize @post.medium.link_url
%p
  %b User:
  = @post.user.username
  %div#likes
    - if @already_liked
      = link_to "Don't like anymore", like_path(@like), method: :delete, remote: true
    - else 
      = render 'likes/form'
    %b likes:
    = @post.likes.count

%p#comments
  %b Comments:
  - @post.comments.each do |comment|
    = comment.user.username
    =":"
    = comment.body
    %br

= render 'comments/form'

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
